/* Flex */
.flex {
  display: flex;
}
.flex.flex1-1 {
  flex: 1 1 auto;
}
.flex.flex5-1 {
  flex: 5 1 auto;
}
.flex.row-unless-mobile {
  flex-direction: row;
}
.flex.row {
  flex-direction: row;
}
.flex.column {
  flex-direction: column;
}
.flex.justify-space-between {
  justify-content: space-between;
}
.flex.justify-space-around {
  justify-content: space-around;
}
.flex.justify-space-evenly {
  justify-content: space-evenly;
}
.flex.justify-center {
  justify-content: center;
}
.flex.align-center {
  align-items: center;
}
.flex.align-stretch {
  align-items: stretch;
}
.flex.wrap {
  flex-wrap: wrap;
}
@media screen and (max-width: 640px) {
  .flex.row-unless-mobile {
    flex-direction: column;
  }
}
